# Dependency directories
node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
**/.next/
/out/

# TypeScript build output
/.build/
/.typescript/

# Other build files
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Jest test coverage
coverage/
